<html>

<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="public.css">

  <title>Hospital management system</title>
</head>

<body>
  <div class="container">

    <!-- Bootstrap navigation bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand"></span> Hospital Management System</a>
          
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
        
      </div>
    </nav>
    <h2>Select a chooice:</h2>
	<form>
    <p>
        <input type="radio" name="choices" id="add" value="add" checked>
        <label for="add">Add a record.</label>
        <br>
        <input type="radio" name="choices" id="read" value="read">
        <label for="read">Read all records.</label>
        <br>
        <input type="radio" name="choices" id="search" value="search">
        <label for="search">Search a record.</label>
        <br>
       
        <br>
    </p>
    <input type="submit" id = "submit" value="Submit" >
	</form>
	<p id="result"></p>

    <div id="content">
      <!-- Dynamic content goes here -->
    </div>

  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/pubdata.js"></script>
</body>

</html>